
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.5%;    /* 1rem = 10px */
}

body{
    background-color: black;
    color:  white;
    overflow: hidden;
}

.main{
    display: flex;
}


.sidebar{
    width: 22vw;
    height: 100vh;
    background-color: yellowgreen;
    
}

.main-content{
    width: 78vw;     /* or item:1 to take rest of the space*/
    height: 100vh;
    background-color: rgb(23, 23, 23);
    border-radius: 1rem;
    overflow: auto;
}

.music-player{
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: #000;
}



/* section nav */
a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: rgb(18, 18, 18);
    height: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    padding: 0.8rem 0.8rem;
    margin: 0.6rem 0.6rem;
}

.nav-option{
    line-height: 4rem;
    opacity: 0.7;
    font-size: 1.6rem;
    padding: 0.8rem 1rem;

    &:hover{
        opacity: 1;
    }

    & i{
        font-size: 1.8rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    
    & a{
        font-weight: 500;
    }
    
}



/* section library */
