
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.5%;    /* 1rem = 10px */
}

body{
    background-color: black;
    color:  white;
    overflow: hidden;
}

.main{
    display: flex;
}


.sidebar{
    width: 25%;
    height: 96vh;
    background-color: black;
    /* margin-top: 0.8rem; */
    
}

.main-content{
    margin-top: 0.8rem;
    width: 78vw;     /* or item:1 to take rest of the space*/
    height: 89.2vh;
    background-color: rgb(23, 23, 23);
    border-radius: 0.8rem;
    margin-right: 0.6rem;
    overflow: auto;
    margin-left: 0.2rem; 
}

.music-player{
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: #000;
    z-index: 33;
}



/* section nav */
a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: rgb(18, 18, 18);
    height: 12%;
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    padding: 0.8rem 0.8rem;
    margin: 0.8rem 0.6rem 0.6rem 0.8rem;
}

.nav-option{
    line-height: 3rem;
    opacity: 0.7;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;

    &:hover{
        opacity: 1;
    }

    & i{
        font-size: 1.8rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    
    & a{
        font-weight: 600;
    }
    
}



/* section library */
.library{
    background-color: rgb(18, 18, 18);
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    padding: 0.8rem 0.8rem;
    margin: 0.8rem 0.6rem;

    & .options{
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .nav-option{
            display: flex;
            align-items: center;
            gap: 1.4rem;

                & img{
                    width: 10%;
                }
        }

        & .icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.8rem;
            gap: 1.6rem;
            
            & i{
                cursor: pointer;
                opacity: 0.7;
            }
        }
        
    }
}


/* library-boxes section */

.library .lib-boxes{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & .box{
        height: 69vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(31,31,31);
        padding: 1.8rem;
        line-height: 2.8rem;
        border-radius: 0.8rem;
        margin-top: 1.2rem;
        overflow-y: auto;
        
    
        & ul{

            & li{
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 21vw;
                list-style: none;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 1.2rem;
                margin-top: 1.2rem;
                border: 2px solid rgb(124, 115, 115);
                border-radius: 1rem;

                & div{
                    width: 65%;
                }

                & i{
                    font-size: 1.5rem;
                }
            }
        }
    }

}



/* main content --> sticky nav */
.main-content .sticky-nav{
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 1.5rem 1.8rem;
    background-color: rgb(23, 23, 23);

    & .sticky-nav-line1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 0.8rem;

        & img{
            width: 3.1rem;
            padding: 0.7rem;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.507);
            margin-right: 0.6rem;
            
        }

        & .sticky-nav-options{
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;
            width: 35%;

            & .btn-premium{
                width: 14rem;
                font-size: 1.3rem;
                font-weight: 700;
                padding: 0.8rem 1rem;
                border-radius: 2rem;
                border: none;
                cursor: pointer;
                
            }

            & .btn-install{  
                background-color: rgba(0, 0, 0, 0.507);
                color: white;
                width: 14rem;
                font-size: 1.3rem;
                font-weight: 600;
                padding: 0.8rem 0.1rem;
                border-radius: 2rem;
                border: none;
                cursor: pointer;
            }

            & .fa-bell, .fa-user{
                height: 10%;
                width: 5.8%;
                background-color: rgba(0, 0, 0, 0.507);
                font-size: 1.6rem;
                border-radius: 50%;
                padding: 0.7rem;
                cursor: pointer;
            }
        }
    }

    & .sticky-nav-line2{
        display: flex;
        gap: 0.6rem;
        padding-left: 1.3rem;

        & :first-child{
            background-color: white;
            color: black;
        }

        & button{
            background-color: rgb(54, 54, 54);
            color: white;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 0.8rem 1rem;
            border-radius: 2rem;
            border: none;
            cursor: pointer;
        }
    }
}


/* main content --> cards */



.heading{
    padding-top: 3rem;
    font-size: 2.3rem;
    font-weight: 700;
    margin-left: 3.5rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-left: 3rem;
    margin-bottom: 2.8rem;
}

.card{
    margin-top: 3rem;
    padding: 0.4rem 0.4rem 0.9rem 0.4rem;
    width: 23.7rem;
    height: 32vh;
    border-radius: 1rem;
    cursor: pointer;

    &:hover{
        
    background-color: rgb(31, 31, 31);
    }

    & img{
        width: 23rem;
        height: 22rem;
        padding:0.6rem;
        border-radius: 1.2rem;
    }

    & .card-title{
        width: 70%;
        font-size: 1.4rem;
        opacity: 0.7;
        font-weight: 700;
        padding-left: 0.6rem;
        padding-top: 0.5rem;
    }

    & .card-info{
        width: 90%;
        font-size: 1.2rem;
        opacity: 0.7;
        font-weight: 500;
        padding-left: 0.6rem;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }
}

footer{
    height: 40vh;
    display: flex;
    justify-content: center;

    & .line{
        height: 50%;
        width: 96%;
        border-top: 1px solid rgb(54, 54, 54);
        margin-top: 8rem;
    }
}




/* music player */


/*album*/
.album{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-left: 0.7rem;
    
    & .album-img{
        width:13%;
        /* height: 10%; */

        & img{
            width: 100%;
            border-radius: 0.4rem;
        }
    }

    & .album-title{
        
        & :first-child{
            font-size: 1.3rem;
            font-weight: 600;
        }

        & :last-child{
            font-size: 1.1rem;
            font-weight: 500;
            opacity: 0.7;
            margin-top: 0.4rem;
        }

    }

    & .album-icon{
        cursor: pointer;
        width: 4.5%;

        & img{
            width: 100%;
        }
    }
}



/*player*/
.music-player{
    display: flex;
    /* background-color: aqua; */
}

.album{
    width: 22%;
    /* background-color: salmon; */
}

.player{    
    width: 56%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* gap: 1rem; */
    /* background-color: aquamarine; */
}

.player-controls{
    /* width: 22%; */
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 4rem;

    & .player-controls-icons{
        width: 15%;
        height: 17%;
        cursor: pointer;
    }
}


#btn-play{
    /* width: 58%;
    height: 58%; */
    font-size: 3.6rem;
    cursor: pointer;
}

.progress-bar{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: 60%;
    margin-top: -1.1rem;
    


    & input{
        width: 100%;
        height: 0.3rem;
        /* margin: 0 auto; */
    }

    & img{
        width: 6%;
        opacity: 0;
    }
}

/* controls */
.controls{
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.4rem;
    margin-right: 1.4rem;

    & img{
        width: 4.5%;
        cursor: pointer;
    }

    & input{
        height: 4%;
        width: 20%;
    }
}